<%= render partial: "shared/adminnav" %>


<div class="row">
  <div class="col-sm-12 admin column-header">
    <p class="mr-auto">Invoices</p>
  </div>

  <% @discounts.each do |discount| %>
    <li> Discount <%= link_to "#{discount.id}", bulk_discount_path(discount) %></li>
    <p> Percentage Discount: <%= "#{discount.percentage_discount}" %></p>
    <p> Quantity Threshold: <%= "#{discount.quantity_threshold}" %></p>
  <% end %>

</div>

