
<body>

  <h3>Bulk Discount <%= @discount.id %></h3>

  <p>Quantity Threshold: <%= @discount.quantity_threshold%></p>
  <p>Percentage Discount: <%= @discount.percentage_discount.to_i %> % </p>

</body>